# Server Configuration
PORT=8080

# Rate Limiter Configuration
# Default limits if not specified for a token
DEFAULT_IP_LIMIT=10
DEFAULT_TOKEN_LIMIT=100
BLOCK_DURATION_SECONDS=300

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
